<!doctype html>
<html>

    <head>
        <meta charset = "UTF-8">
        <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.SnyUjRrbdJsw1pGIl" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

        <!--<link rel="stylesheet" type="text/css" href="/home/baigalaa/Downloads/fontawesome-free-5.0.9/web-fonts-with-css/css/fontawesome-all.css">-->
        <link rel = "stylesheet" type = "text/css" href = "/static/design.css">
        <link rel = "stylesheet" type = "text/css" href = "/static/fontawesome-all.min.css">
        <title> My website </title>
    </head>

    <body>
        <div class="main">



            <div class="header">
                <div id="dropdown">
                  <div class="toggle-btn">
                  <span></span>
                  <span></span>
                  <span></span>
                 </div>
                  <div class="dropdown-content">
                    <a href="#">Design</a>
                    <a href="#">Search</a>
                    <a href="/print/">Print</a>
                  </div>
                </div>
                
                <a href="#">Desing</a>
                <a href="#">Search</a>
                <a href="/print/">Print</a>
                

            </div>
            
            <div class="design-manager">
                <div class="designs">
                     {% for design in designList %}
                     <div class="designList">

                          <a class="design" href="{% url 'edit-design' design.id %}"> <img class="image" src="/static/download.jpeg"/>
                          <span class="title">{{design.name}}</span> </a>             
                          <div class="deleteDesing" onclick="deleteDesign({{design.id}})"> x</div>
                      </div>

                     {% endfor %}
                </div>

                <form method = "POST">
                    {% csrf_token %}
                    <input id = "edit-id" type = "hidden" name = "id" value = "{{id}}"/>
                    <input id = "lastname_attrs" type = "hidden" name = "lastname_attrs" value = "{{lastname_attrs}}" />
                    <span class = "error-msg small">{{errors.lastname_attrs}}</span>
                    <input id = "firstname_attrs" type = "hidden" name = "firstname_attrs" value = "{{firstname_attrs}}" />
                    <span class = "error-msg small">{{errors.firstname_attrs}}</span>
                    <input id = "phone_attrs" type = "hidden" name = "phone_attrs" value = "{{phone_attrs}}"/>
                    <span class = "error-msg small">{{errors.phone_attrs}}</span>
                    <input id = "email_attrs" type = "hidden" name = "email_attrs" value = "{{email_attrs}}"/>
                    <span class = "error-msg small">{{errors.email_attrs}}</span>
                    <input id = "fax_attrs" type = "hidden" name = "fax_attrs" value= "{{fax_attrs}}"/>
                    <span class = "error-msg small">{{errors.fax_attrs}}</span>
                    <input id = "position_attrs" type = "hidden" name = "position_attrs" value = "{{position_attrs}}"/>
                    <span class = "error-msg small" type = "hidden">{{errors.position_attrs}}</span>
                    <input type="button" value="Шинэ дизайн үүсгэх" onclick="newUser()">
                    <hr>

                    {% if id %}
                        <b id="edit-user">Дизайн засах</b> 
                        <b id="add-user" style="display: none;">Шинээр дизайн нэмэх</b>          
                    {% else %}
                        <b id="edit-user" style="display: none;">Дизайн засах</b> 
                        <b id="add-user">Шинээр дизайн нэмэх</b>
                    {% endif %}  

                    <table>
                        <tbody>
                            <tr>
                                <th>Дизайны нэр:</th>

                                <td>
                                    <input type = "text" name = "addName" value = "{{name}}"/>
                                    <span class = "error-msg small" >{{errors.name}}</span>    
                                </td>             
                            </tr>
                            <tr> 
                              <td> </td>
                            
                              <td>
                                    <input type="hidden" id = "textAlign">
                                    <input type="hidden" id="fontWeight">
                                    <input type="hidden" id="fontStyle">

                                    <div class="toolbars" id="center" onclick = "toolbarActive(this, 'center')">
                                      <i class="fas fa-align-center"></i>
                                    </div>

                                    <div class="toolbars" id="justify" onclick = "toolbarActive(this, 'justify')">
                                      <i class="fas fa-align-justify"></i>
                                    </div>

                                    <div class="toolbars" id="left" onclick = "toolbarActive(this, 'left')">
                                      <i class="fas fa-align-left"></i>
                                    </div>

                                    <div class="toolbars" id="right" onclick = "toolbarActive(this, 'right')">
                                      <i class="fas fa-align-right"></i>
                                    </div>

                                    <div class="toolbar" id="bold" value = "bold" onclick = "boldAndItalic(this, 'bold')">
                                      <i class="fas fa-bold"></i>
                                    </div>

                                    <div class="toolbar" id="italic" onclick = "boldAndItalic(this, 'italic')">
                                      <i class="fas fa-italic"></i>
                                    </div>

                                    
                                    <select name = "font" id = "font" onchange="changeField(this)">
                                      <option value = "Lucida Sans Unicode">Lucida Sans Unicode</option>
                                      <option value = "Lucida Grande">Lucida Grande</option>
                                      <option value = "sans-serif">sans-serif</option>
                                    </select>

                                     <select name = "fontSize" id = "fontSize" onchange="changeField(this)">
                                      <option value = "10px">10px</option>
                                      <option value = "11px">11px</option>
                                      <option value = "12px">12px</option>
                                      <option value = "16px">16px</option>
                                      <option value = "24px">24px</option>
                                      <option value = "32px">32px</option>
                                    </select>

                                    <label>Color:</label>
                                    <input type = "color" id = "color" value = "#ff0000" onchange="changeField(this)">
                                    <label>BackgroundColor:</label> <input type = "color" id = "backgroundColor" value = "#ff0000" onchange="changeField(this)" >                               
                                </td>                  
                            </tr>

                            <tr>                 
                                <th>Дизайн гаргах:</th>
                                <td>
                                    <div class = "namecard">
                                        <div class = "textfield" input_id = "lastname_attrs" style = "top: 60px; left: 100px; " onclick = "currentElement(this)">[овог]</div>
                                        <div class ="textfield" input_id = "firstname_attrs" style = "top: 100px; left: 100px;" onclick = "currentElement(this)">[нэр]</div>
                                        <div class ="textfield" input_id = "position_attrs" style = "top: 140px; left: 100px;" onclick = "currentElement(this)">[албан тушаал]</div>
                                        <div class ="textfield" input_id = "phone_attrs" style = "top: 180px; left: 100px;" onclick = "currentElement(this)">[утас]</div>
                                        <div class ="textfield" input_id = "email_attrs" style = "top: 220px; left: 100px;" onclick = "currentElement(this)">[мэйл]</div>
                                        <div class = "textfield" input_id = "fax_attrs" style = "top: 260px; left: 100px;" onclick = "currentElement(this)">[факс]</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                              <td> </td>
                              <td><input type = "submit" value = "Хадгалах"></td>
                            </tr>
                            
                        </tbody>

                    </table>
                </form>

            </div>

            <div class="footer"></div>
        </div>       

        <script type = "text/javascript" src = "/static/home.js"></script>

    </body>
</html>
